@import './utills.scss';

body {
    min-height: 100vh;
    margin: 0;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    color: $black;
    font-family: $font;
}

.button {
    border: none;
    background: none;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
    }
}

.input {
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: 1px solid $darkPrimary;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
}

.avatar_img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    object-fit: cover;
}

.sign {
    &__form {
        width: 100%;
        padding: 2rem;

        &__title {
            margin: 2rem 0 3rem 0;
            font-size: 2.5rem;
            font-weight: 600;
        }

        &__block {
            margin: 1rem 0;
            color: $black;

            &-col {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 1rem;
                    font-weight: 500;
                    margin-bottom: 0.5rem;
                    padding-left: 0.2rem;
                }

                input {
                    @extend .input;
                    width: 20rem;
                }
            }
        }

        &__link {
            margin-left: 0.5rem;
            text-decoration: none;
            color: $primary;
            cursor: pointer;

            &:hover,
            &focus {
                color: $darkPrimary;
            }
        }

        &__error {
            color: $red;
        }

        &__btn {
            &--submit {
                @extend .button;
                width: 24rem;
                background-color: $lightPrimary;
                margin-bottom: 1.2rem;

                &:hover,
                &:focus {
                    background-color: $primary;
                }
            }

            &--google,
            &--github {
                @extend .button;
                width: 24rem;
                background-color: $darkPrimary;

                &:hover,
                &:focus {
                    background-color: $darkPrimary;
                }
            }
        }
    }
}

// right side
.search {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: $lightGray;
    border-radius: 20px;
    border: none;
    font-size: 1rem;

    &::placeholder {
        color: $gray;
    }
}

.side__box {
    width: 100%;
    padding: 1rem;
    background-color: $lightGray;
    border-radius: 1.25rem;

    &__header {
        padding: 0.5rem 0.25rem 1rem 0.25rem;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 1rem;
            font-weight: 500;
        }

        &-btn {
            padding: 0.2rem 0.5rem;
            border: none;
            background: none;
            border-radius: 1.25rem;

            svg {
                width: 1.2rem;
                height: auto;
            }

            &:hover,
            &:focus {
                background-color: $gray;
            }
        }
    }
}

.user__box {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    svg {
        width: 2.5rem;
        height: auto;
    }

    &__profile {
        &-name {
            font-size: 1rem;
            font-weight: 500;
        }

        &-email {
            font-size: 0.875rem;
            font-weight: 300;
        }
    }
}

// header
.header {
    width: calc(100% - 2rem);
    padding: 0.8rem 1rem;
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid $border;

    button {
        @extend .button;
    }

    &-title {
        background-color: transparent;
        font-weight: 700;
        font-size: 1.25rem;
    }
}

.post-form {
    width: 100%;
    border-bottom: 1px solid $border;
    display: flex;
    gap: 0.5rem;

    &__avatar {
        padding: 1rem 0.5rem 1rem 1rem;

        img {
            @extend .avatar_img;
        }

        svg {
            width: 3.5rem;
            height: auto;
        }
    }

    &__form {
        width: 100%;
    }

    &__textarea {
        display: block;
        padding: 1rem;
        width: calc(100% - 2rem);
        min-height: 3rem;
        font-size: 1.25rem;
        border: none;
        resize: none;
        outline: none;

        &::placeholder {
            color: $gray;
            font-size: 1rem;
        }
    }

    &__hashtag {
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $border;

        &-outputs {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem 0.125rem;
            align-items: center;
        }

        &-tag {
            padding: 0.125rem 0.5rem;
            font-size: 0.875rem;
            color: $primary;
            border: 1px solid $primary;
            border-radius: 1rem;
            cursor: pointer;

            &:hover,
            &:focus {
                border: 1px solid $darkPrimary;
                color: $darkPrimary;
                font-weight: 500;
            }
        }
    }

    &__hash-input {
        @extend .input;
        margin-top: 0.5rem;
        padding: 0.5rem;
        border: none;
        resize: none;
        font-size: 0.875rem;

        &::placeholder {
            color: $gray;
        }
    }

    &__submit-area {
        padding: 0.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            padding: 0.5rem;
            width: 1.25rem;
            height: auto;
            fill: $darkPrimary;
            background-color: transparent;
            cursor: pointer;

            &:hover,
            &:focus {
                border-radius: 10rem;
                background-color: $lightPrimary;
            }
        }

        .hidden {
            display: none;
        }
    }

    &__submit-btn {
        @extend .button;
        padding: 0.5rem 1rem;
        background-color: $primary;
        border-radius: 1rem;
        font-weight: 500;

        &:hover,
        &:focus {
            background-color: $darkPrimary;
            color: $white;
        }
    }
}

.post {
    border-bottom: 1px solid $lightGray;

    &__no-posts {
        border: 1px solid $lightPrimary;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 0.8rem 0.5rem;
        font-size: 0.875rem;
        color: $darkGray;
    }
    &__box {
        width: 100%;
        padding: 1rem;
        display: flex;
        gap: 1rem;

        &__user-avatar {
            padding-top: 0.5rem;

            img {
                width: 3rem;
                height: 3rem;
                border-radius: 9999px;
            }

            svg {
                width: 3rem;
                height: auto;
            }
        }

        &__content {
            width: calc(100% - 5.5rem);
            position: relative;

            &__user {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.8rem;

                &-name {
                    font-size: 1rem;
                    margin-right: 0.5rem;
                    font-weight: 500;
                }

                &-email {
                    font-size: 14px;
                    font-weight: 300;
                    color: $darkGray;
                }
            }

            &__more-btn {
                @extend .button;

                svg {
                    width: 1.5rem;
                    height: auto;
                }
            }
        }

        &__dropdown {
            width: 100px;
            position: absolute;
            right: 0;
            top: 1.5rem;
            border: 1.5px solid $lightGray;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            background-color: white;

            button {
                border: none;
                background: none;
                padding: 0.5rem;
                cursor: pointer;
                color: gray;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                svg {
                    width: 0.8rem;
                    height: auto;
                }

                &:hover,
                &:focus {
                    background-color: $lightGray;
                    color: $black;
                }
            }
        }

        &__footer {
            padding: 1rem 2rem 1rem 4rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));

            &-btn {
                display: flex;
                align-items: center;

                button {
                    padding: 0.25rem 0.5rem;
                    background: none;
                    border: none;
                    border-radius: 999px;
                    display: flex;
                    gap: 0.5rem;
                    cursor: pointer;

                    svg {
                        width: 1rem;
                        height: auto;
                    }

                    span {
                        font-size: 0.875rem;
                        color: $gray;
                    }

                    &:hover,
                    &:focus {
                        background-color: $lightPrimary;
                    }
                }
            }
        }
    }
}
