@import './utills.scss';

body {
    max-width: 100vw;
    min-height: 100dvh;
    background-color: $background;
    margin: 0;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    color: $black;
    font-family: $font;
}

.input {
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: 1px solid $darkPrimary;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
}

.avatar_svg {
    width: 3.5rem;
    height: 3.5rem;
}

.avatar_img {
    @extend .avatar_svg;
    border-radius: 9999px;
    object-fit: cover;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &__post_list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0px 0.125rem;
    }
}

.post-form {
    @extend .box;
    width: calc(100% - 1rem);
    padding: 1rem 0rem 0rem 1rem;
    border-bottom: 1px solid $border;
    display: flex;

    &__avatar {
        padding: 0.8rem 0rem 0.8rem 0.8rem;

        img {
            @extend .avatar_img;
        }

        svg {
            width: 3.5rem;
            height: auto;
        }
    }

    &__form {
        width: 100%;
        padding: 0.5rem;
    }

    &__img-view {
        position: relative;

        img {
            width: 80%;
            height: auto;
            border-radius: 0.25rem;
            position: relative;
        }

        button {
            @extend .button;
            padding: 0.25rem 0.35rem;
            border-radius: 10rem;
            position: absolute;
            right: 20;

            svg {
                width: 1.75rem;
                height: auto;
                fill: $darkGray;

                &:hover,
                &:focus {
                    fill: $red;
                }
            }
        }
    }

    &__textarea {
        display: block;
        padding: 1rem;
        width: calc(100% - 2rem);
        min-height: 3rem;
        font-size: 1rem;
        border: none;
        resize: none;
        outline: none;

        &::placeholder {
            color: $gray;
            font-size: 1rem;
        }
    }

    &__hashtags {
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $border;

        &__outputs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;
        }

        &-tag {
            padding: 0.125rem 0.5rem;
            font-size: 0.875rem;
            color: $darkPrimary;
            border: 1px solid $darkPrimary;
            border-radius: 10rem;
            cursor: pointer;

            &:hover,
            &:focus {
                color: $darkRed;
            }
        }
    }

    &__hash-input {
        @extend .input;
        width: calc(100% - 2rem);
        margin-top: 0.5rem;
        padding: 0.5rem;
        border: none;
        resize: none;
        font-size: 0.875rem;

        &::placeholder {
            color: $gray;
        }
    }

    &__submit-area {
        padding: 0.7rem 1rem 0.2rem 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 1.25rem;
            height: auto;
            fill: $darkPrimary;
            background-color: transparent;
            cursor: pointer;

            &:hover,
            &:focus {
                border-radius: 10rem;
                background-color: $bgPrimary;
            }
        }

        .hidden {
            display: none;
        }
    }

    &__submit-btn {
        @extend .button;
        padding: 0.5rem 1.2rem;
        background-color: $primary;
        border-radius: 9999px;
        font-size: 1rem;

        &:hover,
        &:focus {
            background-color: $darkPrimary;
            color: $white;
        }
    }
}

.post {
    @extend .box;
    width: calc(100% - 1.5rem);
    padding: 1rem 0.5rem 0.25rem 1rem;

    &:hover,
    &:focus {
        background-color: $lightPrimary;
        border: 1px solid $primary;
    }

    &__no-posts {
        border: 1px solid $lightPrimary;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0.5rem;
        font-size: 0.875rem;
        color: $gray;
    }

    &__nav-detail {
        width: 100%;
        cursor: pointer;
    }

    &__box {
        width: 100%;
        display: flex;
        gap: 1rem;

        &__user-avatar {
            padding-top: 0.5rem;

            img {
                @extend .avatar_img;
            }

            svg {
                @extend .avatar_svg;
            }
        }

        &__content {
            width: calc(100% - 5.5rem);
            position: relative;

            &__user {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.6rem;

                &-name {
                    font-size: 1rem;
                    margin-right: 0.25rem;
                    font-weight: 600;
                }

                &-email {
                    margin-right: 0.5rem;
                    font-size: 14px;
                    font-weight: 400;
                    color: $darkGray;
                }
            }

            &__createdAt {
                font-size: 12px;
                font-weight: 300;
                color: $gray;
            }

            &__img {
                width: 90%;
                height: auto;
                border-radius: 0.625rem;
            }

            &__text {
                margin: 0.8rem 0rem;
            }

            &__more-btn {
                @extend .button;
                padding: 0.125rem 0.25rem;
                border-radius: 10rem;

                svg {
                    width: 1.5rem;
                    height: auto;
                    fill: $darkGray;
                }

                &:hover,
                &:focus {
                    background-color: $lightPrimary;

                    svg {
                        fill: $darkPrimary;
                    }
                }
            }
        }

        &__dropdown {
            width: 100px;
            position: absolute;
            right: 0;
            top: 1.95rem;
            border: 1px solid $border;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            background-color: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            button {
                border: none;
                background: none;
                padding: 0.5rem 1rem;
                cursor: pointer;
                color: gray;
                display: flex;
                align-items: center;
                justify-content: space-around;

                svg {
                    width: 0.8rem;
                    height: auto;
                }

                &:hover,
                &:focus {
                    background-color: $lightPrimary;
                    color: $black;
                    font-weight: 500;
                }
            }
        }

        &__footer {
            padding: 0.5rem 2rem 0.4rem 4rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));

            &-btn {
                display: flex;
                align-items: center;

                button {
                    padding: 0.25rem 0.5rem;
                    background: none;
                    border: none;
                    border-radius: 999px;
                    display: flex;
                    gap: 0.5rem;
                    cursor: pointer;

                    svg {
                        width: 1rem;
                        height: auto;
                        fill: $darkGray;
                    }

                    span {
                        font-size: 0.875rem;
                        color: $darkGray;
                    }

                    &:hover,
                    &:focus {
                        background-color: $lightPrimary;

                        svg {
                            fill: $darkPrimary;
                        }

                        span {
                            color: $darkPrimary;
                        }
                    }
                }
            }
        }
    }

    &__add_friend {
        @extend .friend_btn;
        background-color: $lightSecondary;

        &:hover,
        &:focus {
            background-color: $secondary;

            svg {
                fill: $white;
            }

            span {
                color: $white;
            }
        }
    }

    &__remove_friend {
        @extend .friend_btn;
        border: 1px solid $primary;

        &:hover,
        &:focus {
            background-color: $darkPrimary;
            color: white;

            svg {
                fill: $white;
            }

            span {
                color: $white;
            }
        }
    }
}

.friend_btn {
    @extend .button;
    padding: 0.4rem 0.8rem 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border-radius: 9999px;

    svg {
        width: 1.2rem;
        height: auto;
        fill: $black;
    }

    span {
        @media (max-width: $laptop) {
            display: none;
        }
    }
}

// search
.search {
    &__input {
        padding: 0.5rem;
        display: flex;
        justify-content: center;

        input {
            width: 100%;
            padding: 1rem 1.5rem;
            border: none;
            background: none;
            outline: none;
            font-size: 1rem;
            border: 1px solid $border;
            border-radius: 9999px;

            &::placeholder {
                color: $gray;
            }
        }
    }

    &__tabs {
        width: 100%;
        height: 3.125rem;
        border-bottom: 1px solid $border;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &-tab {
            border: none;
            background: none;
            cursor: pointer;
            text-align: center;
            font-size: 1rem;

            &:hover,
            &:focus {
                border-bottom: 3px solid $lightSecondary;
                color: $darkSecondary;
            }

            &_active {
                border: none;
                background: none;
                cursor: pointer;
                text-align: center;
                font-size: 1rem;
                font-weight: 600;
                border-bottom: 3px solid $secondary;
            }

            &__span {
                margin-left: 0.5rem;
                font-size: 0.875rem;
                color: $darkGray;
            }
        }
    }
}

// notification
.notifications {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.5rem;
}

//replies
.comment__box {
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: $bgPrimary;
    }
}

.box__hover {
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $bgPrimary;
    }
}
