@import '../../styles/utills';

.notification_box {
    @extend .box;
    padding: 0.8rem;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $lightPrimary;
        transform: scale(1.02);
    }

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__createdAt {
        font-size: 0.875rem;
        color: $darkGray;
    }

    &__unread {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 9999px;
        background-color: $primary;
    }

    &__content {
        margin-top: 0.2rem;
        color: $black;
        font-size: 1rem;
    }
}
