@import '../../styles/utills';

.comment_form {
    @extend .box;
    width: 100%;
    display: flex;
    align-items: center;

    &__textarea {
        width: calc(100% - 2rem);
        min-height: 3rem;
        padding: 1.2rem 1rem 1rem 2.5rem;
        display: block;
        border: none;
        resize: none;
        outline: none;
        font-size: 1rem;
        border-radius: 0.5rem;
    }

    &__submit {
        &_area {
            padding: 0.25rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_btn {
            @extend .button;
            padding: 0.5rem 1rem;
            background-color: $point;
            border-radius: 1rem;
            font-weight: 600;
            color: $white;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

.comment {
    padding: 1rem;
    display: grid;
    grid-template-columns: 3.7rem 1fr;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 0.5rem;

    &:hover,
    &:focus {
        background-color: $lightPrimary;
    }

    svg {
        width: 3.2rem;
        height: auto;
    }

    &__avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__userInfo {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            &_name {
                font-size: 1rem;
                font-weight: 600;
            }

            &_email {
                font-size: 0.875rem;
                color: $darkGray;
            }

            &_createdAt {
                font-size: 0.75rem;
                color: $gray;
            }
        }
    }

    &__deleteBtn {
        padding: 0.1rem 0.12rem 0rem 0.12rem;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 9999px;

        &:hover,
        &:focus {
            svg {
                fill: $red;
            }
        }

        svg {
            width: 1.5rem;
            height: auto;
            fill: $darkGray;
        }
    }
}
