@import '../../styles/utills';

// header
.header {
    max-width: 100%;
    background-color: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.04);
    height: 4rem;

    &__content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        max-width: $mobile;
        @media (min-width: $tablet) {
            max-width: $tablet;
        }
        @media (min-width: $laptop) {
            max-width: $laptop;
        }
        @media (min-width: $desktop) {
            max-width: $desktop;
        }

        @media (max-width: $tablet) {
            max-width: 100%;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        svg {
            width: 4rem;
            height: auto;
            cursor: pointer;
        }

        input {
            padding: 0.6rem 1rem;
            border: none;
            outline: none;
            background: none;
            background-color: $background;
            border-radius: 9999px;
            font-size: 0.875rem;

            &::placeholder {
                color: $gray;
            }

            @media (max-width: $laptop) {
                display: none;
            }
        }
    }

    &__nav {
        height: 100%;
        display: flex;
        align-items: center;

        &_btns {
            display: flex;
            gap: 0.4rem;
            margin-right: 1rem;
        }

        &_btn {
            @extend .button;
            padding: 1.17rem 0.4rem;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            border-bottom: 3px solid $white;

            svg {
                width: 1.5rem;
                height: auto;
                fill: $gray;
            }

            span {
                color: $darkGray;

                @media (max-width: $laptop) {
                    display: none;
                }
            }

            &:hover,
            &:focus {
                border-bottom: 3px solid $primary;

                svg {
                    fill: $primary;
                }

                span {
                    color: $black;
                    @media (max-width: $laptop) {
                        display: none;
                    }
                }
            }
        }

        &_active {
            @extend .button;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 0.4rem;
            border-bottom: 3px solid $primary;

            svg {
                width: 1.5rem;
                height: auto;
                fill: $primary;
            }

            span {
                color: $darkPrimary;
                font-weight: 600;
            }
        }
    }

    &__user {
        padding: 0.2rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        border-left: 1px solid $border;
        cursor: pointer;

        &_avatar {
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 9999px;
        }

        svg {
            width: 3rem;
            height: auto;
        }

        button {
            @extend .button;

            svg {
                width: 1.1rem;
                height: auto;
            }
        }
    }
}

// profile box
.profile_box {
    @extend .box;
    width: 100%;

    &__top {
        padding: 1.5rem 1rem;
        position: relative;
    }

    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;

        &_avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 9999px;
            margin-bottom: 0.2rem;
        }

        svg {
            width: 4rem;
            height: auto;
            border-radius: 9999px;
        }

        &_name {
            font-weight: 500;
        }

        &_email {
            color: $darkGray;
        }
    }

    &__btns {
        background-color: $white;
        width: 100%;
        display: flex;
        border-top: 1px solid $border;
        border-radius: 0px 0px 0.5rem 0.5rem;
    }

    .profile_box_btn {
        @extend .button;
        width: 50%;
        padding: 1rem 0.4rem;
        font-size: 1rem;

        &:hover,
        &:focus {
            font-weight: 600;
            color: $white;
        }
    }

    &__left_btn {
        @extend .profile_box_btn;
        border-right: 1px solid $border !important;
        border-radius: 0px 0px 0px 0.5rem;

        &:hover,
        &:focus {
            background-color: $primary;
        }
    }

    &__right_btn {
        @extend .profile_box_btn;
        border-radius: 0px 0px 0.5rem 0px;

        &:hover,
        &:focus {
            background-color: $point;
        }
    }
}
